:root {
	--color-iris: #4d5ae5;
	--color-ocean: #404bbf;
	--color-navy-blue: #2e2f42;
	--color-green: #31d0aa;
	--color-slate: #434455;
	--color-light-slate: #8e8f99;
	--color-cornflower: #e7e9fc;
	--color-cloud: #f4f4fd;
	--color-navy-blue-modal: #2e2f42;
	--color-grey: #2e2f42;
	--color-white: #ffffff;
	--color-dairy: #fcfcfc;
}
.body {
  font-family: "Roboto", "Raleway", sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/* Heder section */

.logo-link {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.15;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #4d5ae5;
}

.accent {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.15;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #2e2f42;
}

.menu-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.email-contact {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;

  color: #434455;
}

.contact-nuber {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;

  color: #434455;
}

/* Hero section */

.hero-section {
  background: #2e2f42;
}

.main-title {
font-family: 'Roboto';
font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;

color: #FFFFFF;
}

.menu-button {
	font-family: "Roboto";
	font-weight: 500;
  font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.04em;
	text-decoration: none;
	text-transform: none;
}

/* About sectio */

.about-title {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;

  color: #2e2f42;
}

.about-text {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;

  color: #434455;
}

/* Portfolio section */

.portfolio-title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  
  color: #2e2f42;
}

/* Team section */

.our-team {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: #2e2f42;
}

.team-title {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;

  color: #2e2f42;
}

.our-team-text {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;

  color: #434455;
}

/* Footer section */

.footer-text {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;

  color: #1a1a1f;
}

/* Button section portfolio */


.top-button-nav {
	font-family: "Roboto";
	font-weight: 500;
  font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.04em;
	text-decoration: none;
	text-transform: none;
  cursor: pointer;

  color: #ffffff;
  background: #404bbf;
}

/* Hero project card */

.caption {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  
  color: #2E2F42;
  
}

.sub {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  
  color: #434455;
}
